html {
  font-family: sans-serif;
}

body {
  background: #757575;
}

h1{
  margin-bottom: 1px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1px;
  color: rgb(0, 0, 0);
}
hr {
  border: none;
  width: 80%;
  height: 5px;
  padding-top: 2px;
  margin-bottom: 10px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0000;
  border: 1px solid #1900ffe1;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #ff0000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #2735f5;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #d0ff00;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #02005f;
  border: 2px solid #100dd3;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #000000;
  border-color: #ffffff;
  font-weight: bolder;
}

#navbar{
  background-image: linear-gradient(#c7c7ff, #ffffff);
  margin: 2rem auto;
  width: 50rem;
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 3px 8px #00157086;
  
}

#health-levels,
#controls {
  margin: 1rem auto 0.5rem;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 3px 8px #00157086;
  background: #ffffff;
}

#controls {
  display: flex;
  flex-direction: column;
}

#bonus-life {
  font-weight: bold;
  color: #ffffff;
  background: #ff0000;
  border: 2px solid #000000;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}
